@page "/BindingSamples/ParentPassword"

<h1>Parent Component</h1>

<PasswordField @bind-Password="password" @bind:event=oninput/>
<br />
<p>@validationMessage</p>

@code {
    private string password;
    private string validationMessage;

    private void OnInputPasswordField()
    {
        //password = e.Value.ToString();

        if (password.Contains(' '))
        {
            validationMessage = "Spaces not allowed!";

            
        }
        else
        {
            validationMessage = string.Empty;

        }
    }
}